body {
  height:100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.m1-auto {
  justify-content: end;
}
.box{
 display:inline-block;
 justify-content:center;
 font-family: 'Arial', Times, sans-serif;
 border: 1px solid rgb(255, 255, 255);
 width:500px;
 height:280px;
 padding:10px;
 margin:10px;
  
}
.head1{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
   font-size:large;
   position:relative;
   left:-20px;
   color:white
}

.new1{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  font-size:large;
  color: white;

}
.received_table{
  height:20%;
}
.admin_mails{
  margin-bottom: 10px;
  text-align:left;
  font-family: 'Times New Roman', Times, serif;
  
}
.buttons{
  justify-content: flex-end;
  position:relative;
  left:170px;
  bottom:30px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  
}
.headings{
  height:60%;
}
.days{
  font-size:20px;
}
.mails{
  display:flexbox;
  overflow-wrap: break-word;
  
}
.confirm{
  margin-top: 10px;
}
.confirm_box
{
  
  position:relative;
  top:100px;
}
.no_mail{
  padding:10px;
  color:beige;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:20px;
}


.grant{
 
  margin-right:5px;
  margin-bottom: 5px;
}
.deny{
  
  margin-left:5px;
  margin-bottom:5px;
}
.update{
  margin-top: 10px;
}
.edit_admin{
  font-family: 'Times New Roman', Times, serif;
}
.past{
  font-family: 'Times New Roman', Times, serif;
  width:860px;

  justify-content: center;
  align-items: center;
  position:relative;
  left:230px;
  right:150px;
  top:5px;

}
.pending{
  font-family: 'Times New Roman', Times, serif;
  width:884px;
  justify-content: center;
  align-items: center;
  position:relative;
  left:218px;
}
.head{
  display:flex;
  justify-content: space-between;
  padding:10px;
}
.welcome{
  padding:10px 10px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-large;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  color:beige;

  display:row;
  flex-direction:row;
}
.compose{

  font-family:'Brush Script MT', cursive;
  margin-left:60px;
  width:60px;
  text-align:end;
  
}
.button{
  background-color:rgba(18, 48, 18, 0.642);
  border:#1f0303;
  color:beige;
  font-size:x-large;
  /*padding:15px 32px;*/
  width:160px;
  height:60px;
  text-align:center;
  text-decoration: none;
  display:inline-block;
 box-shadow: rgba(0, 0, 0, 0.5);
  
}
.primary{
  margin-top: 10px;
}
.send{
  margin-right: 10px;
  margin-top:20px;
  width:130px;
  background-color:beige;
  height:50px;
  border-radius: 5px 5px 5px 5px;
  font-family: sans-serif;
}
.user_name{
  background-color: #1f0303; /* set the background color of the box */
  border: 1px solid #999; /* add a border to the box */
  border-radius: 10px 10px 10px 10px;
  color: white;
  height:50px;
  padding: 10px; /* add padding to the box */
  display:flex;
  position: relative; 
}
.cancel{
  margin-left:10px;
  margin-top:20px;
  width:130px;
  background-color:beige;
  height:50px;
  border-radius: 5px 5px 5px 5px;
  font-family: sans-serif;
}
.admin_box{
  width:300px;
}
.sender_days{
  display:flex;
  flex-direction:row; 
  padding-top:15px;
  height:55px;
  position:relative;
  left:-15px;
  
}
.days1{
  font-family:sans-serif;
  font-size: x-large;
  margin-top: 25px;
  position:relative;
  left:-560px;
  width:180px;
 
  color:beige;
}
.days2{
  font-family:sans-serif;
  font-size: large;
 
  position:relative;
  left:-610px;
  width:130px;
 
  color:beige;
}
.send_to{
  font-family: Arial, Helvetica, sans-serif;
  width:50px;
  margin-right:5px;
  text-align:end;
}
.days{
  font-family:sans-serif;
  font-size: large;
  margin-top: 5px;
  position:relative;
  left:-10px;

  width:130px;
 
  color:beige;
/* line-break: ; */
  
  
}

.form_compose{
  width:100%;
}
.form_head1{
  color:beige;
}
.table-container{
  height:220px;
  overflow: auto;
  padding-left:20px;
  padding-bottom:20px;
  padding-top:10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  background-image:linear-gradient((to bottom right, rgb(228, 212, 212), rgb(112, 181, 204)) );
  color:beige;

}
.text_area{
  color:antiquewhite;
  height:120px;
  width:200px;
  overflow-wrap: break-word;
  overflow:auto;
  
}

.background{
  background-image: url("../public/abstrac2.JPEG");
  background-color: #409a9a;
  width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.block{
  font-style: italic;
  color: blue;
}
.bagc{
/* background-color: aqua; */

background-size:cover;

}
.newl{
  line-break: auto;
}
.newl2{
  line-break:loose;
}
.background2{
  justify-content: first baseline;
  background-image: url("../public/abstrac2.JPEG");
  padding-bottom:570px;
  
}

.newf{
  /* text-size-adjust: ; */
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

  
}
.form_field{
  margin-bottom: 10px;
}
.new2{
  font-family: Arial, Helvetica, sans-serif;
  background-color:beige;
  padding-bottom: 300px;
}
.form{
  /* border:1px solid black; */
  padding:15px 15px 15px 15px;
  position:relative;
  top:30px;
 
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.form_bg{
 width:100%;
 background-color: beige;
}
.form_page{
  width:100%;
}
.mail_head{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  font-size:x-large;
  color:rgb(246, 212, 89);
  padding-bottom: 10px;
}
.dashboard_bg{
  background-image: url("../public/ab_dash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;  
  background-repeat:repeat-y;
 
}
.dashboard_s_bg{
  background-image: url("../public/ab_dash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;  
  height:100vh;
  
}

.welcome{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 100;
  font-size: xx-large;
   margin-left: 10px;
}
.dashboard_overlay{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.overlay{
  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}
.t_head{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
  color:beige;

}
.t_head2{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size:medium;
  color:beige;

}
.t_cont{
  color:beige;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:medium;
}
.t_cont2{
  color:beige;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:medium;
}
.update1{
 padding-top:2px ;
}
.home_background{
  background-image: url("../public/c_students.png");
  background-color: #409a9a;
  width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.home_overlay{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
}
.c_h1{
  width:50%;
  text-overflow: auto;
  display:flex;
  position: relative;
  left:150px;
  top:80px;
  color:white;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size:80px;
}
.home_writing{
  color:rgb(255, 255, 255);
  width:100%;
  text-overflow:auto;
  text-align: left;


  
}
.writing_box{
  /* border:1px solid beige; */
  width:640px;
  position: relative;
  display:flex;
  align-items: flex-start;
  left:150px;
  top:70px;
  padding-top:10px;
 
}
.image{
  background-image:url("../public/c_students.png") ;
  width:100%;
  height:100%;
  display: block;
}
.img_box{
  display:block;
  width:200px;
  height:100px;
}
.manual_link{
  font-size: large;
  color:bisque;
}
.image_container{
  display:flex;
  padding-left:20px;
  padding-top: 30px;
}

.image1_manual{
  width:25%;
  height:40%;
  
}
.section{
  width:100%;
 min-height:100vh;
 /* background-color:#ddd; */
  

}
.containers{
  width:80%;
  display:block;
  margin:auto;
  padding-top:100px;

}
.content-section{
  float:left;
  width:55%;
}
.image-section{
 /* justify-content: center;
  width:40%;
  height:30%;
  border: 5px solid #1f0303;
  align-items: center;*/
  position:relative;
  right:40px;
  float:right;
  width: 35%;
  border:3px solid #1f0303;
}


.image section img{
  width:100%;
  height:auto;
}
.content-section.title h2 b{
  text-transform: uppercase;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 28px;

}
.content-section .content p{
  margin-top: 50 px;
  position :relative;
  top:20px;

  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight:200;
  line-height: 1.5;
  /* color:darkslategrey; */
}
.content-section .content .button{
  margin-top: 30px;
}
.content-section .content .button_learn a{
  background-color: #3d3d3d;
  padding:12px 20px;
  text-decoration: none;
  position :relative;
  top:20px;
  left:5px;
  color:#fff;
  font-size: 25px;
  letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
  background-color: #a52a2a;
  color:#fff;

}
.content-section .social{
  margin: 40px 40px;
}
.content-section .social i{
  color: #a52a2a;
  font-size: 30px;
  padding:0px 10px;

}
/* .content-section social i:hover{
  color:#3d3d3d;
} */

/*@media screen and (max-width: 768px) {
  .container{
    width:80%;
    display:block;
    margin:auto;
    padding-top: 100px;
  }
  .content-section{
    float:none;
    width:100;
    display: block;
    margin:auto;
  }
  .image-section{
    float:none;
    width:100;
    
    
  }
  .image-section img{
    width: 100%;
    height:auto;
    display: block;
    margin: auto;
  }

  .content-section.title{
    text-align: center;
    font-size: 19px;
  }
  .content-section .content .button{
    text-align:center;

  }
  .content-section .contentb .button a{
    padding: 9px 30px;

  }
  .content-section .social{
    text-align: center;
  }
}*/
.refer{
font-family: 'Times New Roman', Times, serif;
font-style:bold;
font-size: 20px;
text-align: right;
padding-right:60px;
position:relative;
top:20px;
right:-490px;
  
}
.new_text{
  line-break: auto;
}
.manualcontentext{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 20px;
  text-align:left;
  

}
.image_manual{
  width:60%;
  height:40%;
  border: 3px solid #1f0303;

}

.bg_about{
  background-image: url("../src/images/bg_about_manual.png");
  background-position: center;
 
  background-repeat: repeat-x;
 
}
.bg_manual{
  background-image: url("../src/images/bg_about_manual.png");
  width: 100%;
  background-repeat:repeat-y;
  background-position: center;
}
.confirm_pw{
  padding-top: 10px;
  margin-top: 10px;
}
